@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<header>
    <div class="container">
        <nav>
            <div class="nav-brand">
                <a>
                    <img src="./images/logo.png" alt="">
                </a>
            </div>
                @if (SignInManager.IsSignedIn(User))
                {
                   
                    <li class="nav-item float-right">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><b>Hello @User.Identity.Name!</b></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="Index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#">Universities</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#">Courses</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#">About</a></li>
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-dark font-weight-bold">Logout</button>
                        </form>
                    
                }
                else
                {
                    <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login/Sign-Up</a></li>
                }
            </ul>
        </nav>
    </div>
</header>

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/Index.js" asp-append-version="true"></script>
