@page
@model LoginModel
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form id="account" method="post">
            <h4>Create Account</h4>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your email for registration</span>
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" class="form-control" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <button type="submit">Sign In</button>
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </form>
    </div>
</div>

@section Scripts {
    <script src="./js/site.js"></script>
    <partial name="_ValidationScriptsPartial" />

}
